.TaskCounter{
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
}

.TaskCounter--loading{
  opacity: 20%;
}

.TaskSearch {
    background: #F9FBFC;
    border-radius: 10px;
    border: 2px solid #202329;
    margin: 0 24px 0 35%;
    height: 64px;
    width: 30%;
    font-size:large;
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }

  .TaskSearch:disabled{
    opacity: 20%;
  }
  
  .TaskSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Century Gothic';
    font-weight: 400;
  }
  
  .Task:focus {
    outline-color: #61DAFA;
  }

  ul {
    margin: 0;
    padding: 0 0 56px 0;
    list-style: none;
  }

  .TaskItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-right: 15%;
    margin-left: 15%;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  }
  
  .TaskItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 20px;
    height: fit-content;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
  }
  .TaskItem-p--complete {
    text-decoration: line-through;
  }
  
  .Icon {
    cursor: pointer;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .Icon-check {
    position: absolute;
    font-size: 50px;
    left: 12px;
  }
  .Icon-check--active {
    color: #4caf50;
  }
  
  .Icon-delete {
    position: absolute;
    top: -24px;
    right: 0;
  }
  .Icon-delete:hover {
    color: red;
  }

  .TaskButton {
    background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    transform: rotate(0);
    transition: .4s ease;
    z-index: 1;
  }
  
  .TaskButton:hover {
    transform: rotate(224deg);
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #F2F4F5;
    color: #1E1E1F;
    font-family: 'Century Gothic';
  }
  
  #root {
    margin: 0 24px;
    position: relative;
    min-height: 100vh;
  }

  .ModalBackground {
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  form {
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1F;
    margin-bottom: 26px;
  }
  
  textarea {
    background-color: #F9FBFC;
    border: 2px solid #202329;
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
  }
  
  textarea:focus {
    outline-color: #61DAFA;
  }
  
  .TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Century Gothic';
  }
  
  .TodoForm-button--add {
    background: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  }
  
  .TodoForm-button--cancel {
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    background: transparent;
  }

  .LoadingLabel{
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-family: 'Century Gothic';
  }

  .ChangeAlert{
    background-color: #000000da;
    color: white;
    font-size: 20px;
    position: relative;
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    box-shadow: 0px 5px 50px rgba(208, 214, 226, 0.76);
  }

  .ChangeAlertBackground{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000086;
    z-index: 2;
  }

  .RefreshButton{
    background-color: white;
    font-family: 'Century Gothic';
    box-shadow: 0px 5px 50px rgba(5, 202, 202, 0.897);
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 2px solid #ffffff;
  }